.white-box {
    height: 100px;
    background-color: #e6e6e6;
    position: fixed;
    bottom: 40px;
    width: 100%;
    box-shadow: 0 -5px 30px 5px rgba(49, 49, 49, 0.486);
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.white-box__headers {
    display: flex;
    
}