.white-box {
    height: 100px;
    background-color: #e6e6e6;
    position: fixed;
    bottom: 40px;
    width: 100%;
    box-shadow: 0 -5px 30px 5px rgba(49, 49, 49, 0.486);
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.white-box__headers {
    display: flex;
    justify-content: left;
}

.white-box__recents, .white-box__favourites {
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    padding-bottom: 11px;
    margin-bottom: 15px;
}
.white-box__favourites {
    margin-left: 30px;
}