.header{
    display: flex;
}

.header__image {
    margin-right: 15px;
}

.header__notification__close {
   
    /* /* opacity:0; */
    /* width: 10px; */
    transform: translateY(-1000px);
    opacity: 0;
}

.header__notification__close, .header__notification__open {
    display: block;
    background-color: rgb(228, 228, 228);
    position: absolute;
    height: 50%;
    z-index: 30;
    margin-right: 0;
    margin-left: auto;
    transition: 500ms;
    right: 0;
    box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.336);
    width: 100vw;

}

.header__notification__open {
    /* display: block; */
    width: 100vw;
}