.navbar{
    /* border: solid red 5px; */
    background: #e6e6e6;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    height: 35px;
    padding-top: 15px;
    box-shadow: 0 -5px 40px 3px rgba(49, 49, 49, 0.329);

}

li {
    list-style-type: none;
}